setuptools==59.5.0

# local package
-e .

# external requirements
flake8
pre-commit
black
isort
tqdm
pytest
hydra-core
omegaconf
fire
click>=8.1.0

# project requirements
numpy
scipy
pandas
matplotlib
seaborn

pyro-ppl==1.4.0
git+https://github.com/TyXe-BDL/TyXe.git
laplace-torch
tensorboard
pytorch_lightning

-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch
torchvision
torchaudio
